/* Feel free to have a CSS reset!
You can have a minimum one or the fancy one */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5fcff;
    font-family: borel, Arial;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 100px;
    align-content: center;
}

/* header {
    position: fixed;
} */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li a {
    padding: 40px;
    color: black;
    font-size: 100%;
}

section {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skincare {
}

.scimg {
    width: 650px;
    border-radius: 20px;
    
}

.muimg {
    width: 650px;
    border-radius: 20px;
}

.hcimg {
    width: 650px;
    border-radius: 20px;
}

h3 {
    text-align: center;
    background: white;
    border-radius: 20px;
    padding: 15px;
}



/* When you are styling your page, my advice is that you use flexbox to style the layout of your webpage and positioning for inividual elements */

/* If you want to build something similar to the SpaceY website, these are some selectors that will be useful */

/* background-image --> We use this in css to add a background image  */
/* vh and vw --> we use the viewport height and viewport width to show the content of our website adapted to the user can see on the screen at the time. not using rem or pixels so there are sections - 1 section at a time, and it adjusts to your screen */
/* z --> index - if we change the z-index of an element, it will push the element to the front or the back of the screen */